body, div, h1, h2, p{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

*{
	box-sizing: border-box;
}

body{
	margin:15px;
}

h1{
	font-size: 30px;
	font-family: arial;
	text-align: center;
	margin: 40px;
}

h2{
	font-size: 18px;
	font-family: arial;
	color: #ffffff;
	text-align: center;
	float:right;
	position: absolute;
	right: 20px;
	width: 150px;
	padding: 10px;
	background: #565656;
}

p{
	font-family: arial;
	background: #e2dfdc;
	line-height: 20px;
	border: 1px solid #565656;
	padding: 70px 30px 30px 30px;
}

.menuItem{
	padding: 20px;
	position: relative;
}



/******************** Medium devices only ********************/

@media (min-width: 768px) and (max-width: 991px){
.menuItem{
		width: 50%;
		float: left;
	}
#Sushi{
	width: 100%;
}
}

/******************** Large devices only ********************/

@media (min-width: 992px){
	.menuItem{
		width: 33%;
		float:left;
	}
}